<header>
  <div class="container">
    <a routerLink="/"> <img src="./../../favicon.ico">
      <font color=white>Awesome Zoofront</font></a>
    <nav>
      <ul>
        <li><a routerLink="/">Home</a></li>

        <div *ngIf="!logged">
          <li><a routerLink="/register">Register</a></li>
        </div>

        

        <div *ngIf="!logged">
            <li><a routerLink="/login">Login</a></li>
        </div>

        <div *ngIf="logged">
          <li><a routerLink="/requestRide">Request Ride</a></li>
        </div>

        <div *ngIf="logged">
            <li><a  (click)="logoutUser()">Logout</a></li>
        </div>
      </ul>
    </nav>
  </div>
</header>
